/*добавление шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Open+Sans:ital,wght@0,600;1,400&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
body {
   
   background: rgba(18, 45, 66, 1);
}
/* Использование изображение*/
.img {
  height: 31em;
  width: 50%;
  position: fixed;
  left: 0px;
  top: 0px;
}

.text {
   margin-left: 600px;
   position:fixed;
   left: px;
   margin: px;
   color:rgb(255, 255, 255);
   font-family: open+sans-serif;
   
}

.text1 {
   padding-left: 250px;
   margin-left: 400px;
   color: rgba(61, 210, 204, 1);
   font-family: Oswald;
}
/* Положение контейнера навигации внутри изображения */
.container {
position: absolute;
margin-left: 450px;
width: auto;

}
/*Навигвционая панель*/
.topnav {
margin: 0px;
top: 0px;
float: left;
margin-right: px;
overflow: hidden;
background-color: rgba(143, 197, 194, 1);
}
/* Ссылки на навигационную панель */
.topnav a {
   float: left;
   color:  rgba(18, 45, 66, 1);
   text-align: center;
   padding: 0px;
   text-decoration: none;
   
}
.topnav {
margin-left: -34%;
border: 2px solid #0066FF;
width: 280px;
background-color: #33ADFF;
font-family: Tapestry;
position: relative;
}
.topnav a {
color: #fff;
padding: 2px 10px;
text-decoration: none;
font-weight: bolder;
display: inline-block;
width: 45px;
position: relative;
}
.topnav {
border-radius: 220px 5px;
background-color: #0066FF;
}
 